# NPM dependencies
node_modules

# If using vscode
.vscode

# DAT files
faa-data/*.DAT
faa-data/*.Dat
faa-data/*.pdf

# build
build

# yarn2
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# prisma
prisma/dev.db

*.csv
